body {
    margin: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.row {
    display: flex;
}

.square {
    padding: 20px;
    border: 3px solid black;
    /* margin: 5px; */
}

.square.hovered {
    background-color: lightpink;
}